<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i> 
        </div>
        <div class="f-info-brand"> &copy;  NestHive Private Limited</div>
        <div class="f-info-links" >
            <a href="/privacy">Privacy</a>
            <span class="p1nuuvsc dir dir-ltr"><span class="syns96s dir dir-ltr" aria-hidden="true"><span class="_1sbp7g1" aria-hidden="true">·</span></span></span>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>